body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px 0;
    background: #1c1c1c ;
    display: flex;
    justify-content: center;
}

.a3{
    background-color: rgba(0, 0, 0, .7);
    width: 297mm;
    height: 420mm;
    padding: 10mm;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}